#root {
    width: 100%;
    margin: 0;
    text-align: center;
}

.app {
    width: 100%;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.navContainer {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 100%;
    background-color: blue;
    border: 1px solid rgb(2, 2, 2);
    height: 50px;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    margin-right: 20px;
    width: 100%;
}

.searchBarInput {
    margin-right: 5px;
    width: 35%;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
}

.buttonSearch {
    background-color: #12846b;
    color: #000000;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(rgb(245 215 189) 30%, rgb(255, 255, 255) 30%);
    box-shadow: 0 0 25px darkred;
    border-radius: 10px;
    padding: 50px 16px;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 20px;
    border: 3px solid green;
    align-self: auto;
}

.imgCard {
    width: auto;
    height: auto;
    position: relative;
}

.cardContainer {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 20px;
    /* background-color: #888; */
    border: 3px solid blue;
    background: linear-gradient(rgb(11, 245, 194) 30%, rgb(61, 177, 198) 30%);
    box-shadow: 0 0 25px darkred;
    border-radius: 10px;
    padding: 50px 16px;
}

.read-the-docs {
    color: #888;
}