#root {
    width: 100%;
    margin: 0;
    text-align: center;
    background-image: url('./assets/fondoApp.jpeg');
    /* Ajusta la ruta de la imagen según tu estructura de archivos */
    background-size: cover;
    /* Ajusta el tamaño de la imagen de fondo según tus necesidades */
    background-position: center center;
}

.App {
    width: auto;
    height: 100%;
}

*/ .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.navContainer {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 100%;
    background-color: blue;
    border: 1px solid rgb(2, 2, 2);
    height: 50px;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    margin-right: 20px;
    width: 100%;
}

.searchBarInput {
    margin-right: 5px;
    width: 35%;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
}

.buttonSearch {
    background-color: #12846b;
    color: #f3f3f3;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* background: linear-gradient(rgb(245 215 189) 30%, rgb(255, 255, 255) 30%); */
    box-shadow: 0 0 25px darkred;
    border-radius: 10px;
    padding: 50px 16px;
}

.imgCard {
    /* width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -1;*/
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 20px;
    /* background-color: #888; */
    border: 3px solid blue;
    /* background: linear-gradient(rgb(11, 245, 194) 30%, rgb(61, 177, 198) 30%); */
    box-shadow: 0 0 25px darkred;
    border-radius: 10px;
    padding: 50px 16px;
}

.buttonCard {
    background-color: red;
    width: 10px;
    align-self: center;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 20px;
    border: 3px solid green;
    align-self: auto;
}

.read-the-docs {
    color: #888;
}